
<div class="container my-2">
<h1>Voir toutes les visites</h1>
</div>

<div class="container">
<% @visits.each do |visit| %>
      <ul>
        <p><%= link_to visit.name.upcase,  visit_path(visit), style: "text-decoration: none", class: "btn btn-light" %> <%= link_to 'Update',  edit_visit_path(visit), class: 'btn btn-primary'%> <%= link_to 'Delete',  visit_path(visit), method: :delete, class: 'btn btn-danger align-self-start', data: { confirm: 'Are you sure you want to delete this visit ?' } %></p>
      </ul>
  <% end %>
</div>


<div class="container my-2">
  <%= link_to "Add a new visit",  new_visit_path(@visit), class: 'btn btn-warning my-1'%>
        <%= link_to 'Back to Home!',  root_path, class: 'btn btn-success'%>
</div>
